*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: orange;
}

.updates {
    margin-left: 80px;
}

.updates-header {
    margin-left: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.updates li{
    font-style: italic;
    font-family: 'Handlee', cursive;
}